<form class="ui form" action="/mytimeline" method="POST">
  <div class="ui feed">
    {{#each tweets}}
      <div class="ui divider"></div>
      <div class="event">
        <div class="label">
          <img src="/images/unknown_user.jpg">
        </div>
        <div class="content">
          <div class="inline fields">
            <div class="fifteen wide field">
              <div class="summary">
                <a href="/showtimeline?userId={{author._id}}" class="user">{{author.nickName}}</a>
                <div class="date">{{dateFormat creationDate "dddd, MMMM Do YYYY, HH:mm:ss"}}</div>
              </div>
            </div>
            <div class="one wide field">
              {{#if ../deletePossible}}
                <div class="ui checkbox">
                  <input type="checkbox" value="{{_id}}" name="tweetToDelete"/>
                  <label>select</label>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="extra text">
            {{message}}
          </div>
          <div class="meta">

          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{#if deletePossible}}
    <div class="ui divider"></div>

    <div class="inline fields">
      <div class="fifteen wide field">
        <button class="ui blue submit button">Delete selection</button>
      </div>
      <div class="one wide field right aligned">
        <div class="ui checkbox right aligned">
          <input type="checkbox" id="selectAllCb"/>
          <label>select all</label>
        </div>
      </div>
    </div>
  {{/if}}
</form>

<script>
  $("#selectAllCb").click(function () {
    $("input[name='tweetToDelete']").prop('checked', this.checked);
  });

  $("input[name='tweetToDelete']").click(function () {
    if (this.checked) {
      let isAllChecked = true;
      $("input[name='tweetToDelete']").each(function () {
        if (!this.checked) {
          isAllChecked = false;
        }
      });
      $("#selectAllCb").prop('checked', isAllChecked);
    } else {
      $("#selectAllCb").prop('checked', false);
    }
  });
</script>