{{> mainmenu _id="usersearch" }}

<section class="ui raised segment">

  <h1 class="ui header">Search for users</h1>

  <form class="ui form" action="/usersearch" method="GET">
    <div class="two inline fields">
      <div class="three wide field">
        <div class="ui left icon input">
          <input type="text" name="filter" placeholder="Search users...">
          <i class="users icon"></i>
        </div>
      </div>
      <div class="field">
          <button class="ui blue submit button">
            Search
          </button>
      </div>
    </div>
  </form>

  <div class="ui divider"></div>

  <div class="ui cards">
    {{#each users}}
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="{{imageUrl}}">
          <a class="header">{{nickName}}</a>
          <div class="meta">
            {{firstName}} {{lastName}}<br/>
            {{email}}
          </div>
        </div>
        <div class="extra content">
          <form action="/showtimeline" method="GET">
            <input type="hidden" name="userId" value="{{_id}}"/>
            <button class="ui blue submit button right floated">
              Show Timeline
            </button>
          </form>

          <i class="users icon"></i>
          {{followers.length}} Followers
        </div>
      </div>
    {{/each}}
  </div>
</section>